body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff8f2;
  text-align: center;
}

header {
  background: linear-gradient(to right, #ff7b00, #ff3c00);
  color: white;
  padding: 20px;
}

.hero {
  padding: 40px 20px;
  background: #ffb347;
  color: white;
}

button {
  padding: 12px 25px;
  border: none;
  background: white;
  color: #ff3c00;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.menu {
  padding: 20px;
}

.card {
  background: white;
  margin: 15px auto;
  padding: 15px;
  width: 92%;
  border-radius: 15px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

h2 {
  color: #ff3c00;
  margin-top: 30px;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 15px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}